.navbar-brand{
    font-size: 1.8em;
}
#brandText{
    color:#00008B;
}
.btn-primary{
    background-color: #00008B;
    border: 1px solid #ffffff;
  
    
}
.finish_button button{
    background-color: #00008B;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 4px;
    min-height: 40px;
    min-width: 90px;
    margin-top: 400px;
    margin-left: -330px;   
}
#topContainer{
    /*background-image:url("images/logo.jpeg");*/
    height:690px;
    width: 100%;
    background-size: cover;
}
#topRow{
    margin-top: 100px;
    text-align: center;
}
#topRow h1{
    font-size: 300%;
    color: #919191;
}
.lead{
    font-size: 150%;
    color: #919191;
}
p{
    color: #919191;
}
.asterisk_input:after {
    content:" *";
    color: #e32;
    position:relative;
    margin: -30px -20px 0px -20px;
    font-size: xx-large;
    padding: 0 5px 0 0;
    float: right;
}
.formWidth{
    width: 120px;

}
.formMargin{
    margin-left: 20px;
}
#boldText{
    font-size: 120%;
    color:#00008B;
    font-weight: bold;
}
#form{
    margin-top: 40px;
}
.floatText{
    float:left;
}
.center{
    text-align: center;
}
.title{
    margin-top: 100px;
    font-size: 300%;
}
.marginTop{
    margin-top: 20px;
}
.marginRight{
    margin-right: 10px;;
}
#footer{
    background-color:whitesmoke ;
    width: 100%;
}
.appstoreimage{
    width:250px;
}

.container h2{
 margin-top:100px;
 color: #00008B;

}

aside#sidebar{
  float:right;
  width:25%;
  margin-top:10px;
  margin-top:-315px; 
  margin-right: 100px;
  border: 1px solid  #C0C0C0;
  /*padding-left:40px; 
  padding-right:0px; */
}
aside#sidebar h5, input{

text-align: center;

}


.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}
aside#sidebar input{

  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
